<p>
  <strong>compare_at_price:</strong>
  <%= variant.compare_at_price %>
</p>
<p>
  <strong>shopify_created_at:</strong>
  <%= variant.shopify_created_at %>
</p>
<p>
  <strong>fulfillment_service:</strong>
  <%= variant.fulfillment_service %>
</p>
<p>
  <strong>grams:</strong>
  <%= variant.grams %>
</p>
<p>
  <strong>shopify_id:</strong>
  <%= variant.shopify_id %>
</p>
<p>
  <strong>inventory_management:</strong>
  <%= variant.inventory_management %>
</p>
<p>
  <strong>inventory_policy:</strong>
  <%= variant.inventory_policy %>
</p>
<p>
  <strong>inventory_quantity:</strong>
  <%= variant.inventory_quantity %>
</p>
<p>
  <strong>old_inventory_quantity:</strong>
  <%= variant.old_inventory_quantity %>
</p>
<p>
  <strong>position:</strong>
  <%= variant.position %>
</p>
<p>
  <strong>price:</strong>
  <%= variant.price %>
</p>
<p>
  <strong>product_id:</strong>
  <%= variant.product_id %>
</p>
<p>
  <strong>requires_shipping:</strong>
  <%= variant.requires_shipping %>
</p>
<p>
  <strong>sku:</strong>
  <%= variant.sku %>
</p>
<p>
  <strong>taxable:</strong>
  <%= variant.taxable %>
</p>
<p>
  <strong>title:</strong>
  <%= variant.title %>
</p>
<p>
  <strong>updated_at:</strong>
  <%= variant.updated_at %>
</p>
<p>
  <strong>image_id:</strong>
  <%= variant.image_id %>
</p>
<br><br>
