<h1>Customer Information</h1>
<p>
  <strong>accepts_marketing:</strong>
  <%= @customer.accepts_marketing %>
</p>
<p>
  <strong>shopify_created_at:</strong>
  <%= @customer.shopify_created_at %>
</p>
<p>
  <strong>default_address_address1:</strong>
  <%= @customer.default_address_address1 %>
</p>
<p>
  <strong>default_address_address2:</strong>
  <%= @customer.default_address_address2 %>
</p>
<p>
  <strong>default_address_city:</strong>
  <%= @customer.default_address_city %>
</p>
<p>
  <strong>default_address_company:</strong>
  <%= @customer.default_address_company %>
</p>
<p>
  <strong>default_address_country:</strong>
  <%= @customer.default_address_country %>
</p>
<p>
  <strong>default_address_first_name:</strong>
  <%= @customer.default_address_first_name %>
</p>
<p>
  <strong>default_address_id:</strong>
  <%= @customer.default_address_id %>
</p>
<p>
  <strong>default_address_last_name:</strong>
  <%= @customer.default_address_last_name %>
</p>
<p>
  <strong>default_address_phone:</strong>
  <%= @customer.default_address_phone %>
</p>
<p>
  <strong>default_address_province:</strong>
  <%= @customer.default_address_province %>
</p>
<p>
  <strong>default_address_zip:</strong>
  <%= @customer.default_address_zip %>
</p>
<p>
  <strong>default_address_province_code:</strong>
  <%= @customer.default_address_province_code %>
</p>
<p>
  <strong>default_address_country_code:</strong>
  <%= @customer.default_address_country_code %>
</p>
<p>
  <strong>default_address_default:</strong>
  <%= @customer.default_address_default %>
</p>
<p>
  <strong>email:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong>first_name:</strong>
  <%= @customer.first_name %>
</p>
<p>
  <strong>email:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong>shopify_id:</strong>
  <%= @customer.shopify_id %>
</p>
<p>
  <strong>last_name:</strong>
  <%= @customer.last_name %>
</p>
<p>
  <strong>last_order_id:</strong>
  <%= @customer.last_order_id %>
</p>
<p>
  <strong>last_order_name:</strong>
  <%= @customer.last_order_name %>
</p>
<p>
  <strong>note:</strong>
  <%= @customer.note %>
</p>
<p>
  <strong>orders_count:</strong>
  <%= @customer.orders_count %>
</p>
<p>
  <strong>state:</strong>
  <%= @customer.state %>
</p>
<p>
  <strong>tags:</strong>
  <%= @customer.tags %>
</p>
<p>
  <strong>total_spent:</strong>
  <%= @customer.total_spent %>
</p>
<p>
  <strong>updated_at:</strong>
  <%= @customer.updated_at %>
</p>
<p>
  <strong>verified_email:</strong>
  <%= @customer.verified_email %>
</p>

<br><br>

<h1>Addresses</h1>
<%= render @customer.addresses %>
<br><br>

<p>
  <%= link_to 'Back to Customers', customers_path%>
</p>
