<h1>All Orders</h1>
<table border="1" style="width:100%">
  <tr>
    <th>order_number</th>
    <th>billing_address_first_name</th>
    <th>billing_address_last_name</th>
    <th>financial_status</th>
    <th>fulfillment_status</th>
    <th>subtotal_price</th>
  <tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.order_number %></td>
      <td><%= order.billing_address_first_name %></td>
      <td><%= order.billing_address_last_name %></td>
      <td><%= order.financial_status %></td>
      <td><%= order.fulfillment_status %></td>
      <td><%= order.subtotal_price %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', order_path(order), method: :delete, data: { confirm:'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
<br><br><br>
<table border="1" style="width:100%">
  <% @shopify_orders.each do |t| %>
    <tr>
      <td><%= t.order_number %></td>
      <td><%= t.billing_address.first_name %></td>
      <td><%= t.billing_address.last_name %></td>
      <td><%= t.financial_status %></td>
      <td><%= t.tax_lines[0].price %></td>
      <td><%= t.line_items[0].fulfillable_quantity %></td>
      <td><%= t.shipping_lines[0].price %></td>
    </tr>
  <% end %>
</table>
