<h1>All Orders</h1>
<table border="1" style="width:100%">
  <tr>
    <th>order_number</th>
    <th>billing_address_first_name</th>
    <th>billing_address_last_name</th>
    <th>financial_status</th>
    <th>fulfillment_status</th>
    <th>subtotal_price</th>
  <tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.order_number %></td>
      <td><%= order.billing_address_first_name %></td>
      <td><%= order.billing_address_last_name %></td>
      <td><%= order.financial_status %></td>
      <td><%= order.fulfillment_status %></td>
      <td><%= order.subtotal_price %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
      <td><%= link_to 'Destroy', order_path(order), method: :delete, data: { confirm:'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
<br><br><br>

<h1>Shopify Orders</h1>
<% @shopify_orders.each do |t| %>
  <table border="1" style="width:100%">
    <tr>
      <td>order_number: <%= t.order_number %></td>
      <td>name: <%= t.billing_address.first_name %> <%= t.billing_address.last_name %></td>
      <td>shipping_lines[0].price: <%= t.shipping_lines[0].price %></td>
    </tr>
    <th>line_items</th>
    <% t.line_items.each do |f| %>
      <tr>
        <td>title: <%= f.title %></td>
        <td>price: <%= f.price %></td>
      </tr>
    <% end %>
    <th>shipping_lines</th>
    <% t.shipping_lines.each do |s| %>
      <tr>
        <td>code: <%= s.code %></td>
        <td>price: <%= s.price %></td>
      </tr>
    <% end %>
    <th>tax_lines</th>
    <% t.tax_lines.each do |t| %>
      <tr>
        <td>rate: <%= t.rate %></td>
        <td>price: <%= t.price %></td>
        <td>title: <%= t.title %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
<% end %>

<h3><%= link_to 'Back Home', controller: 'home' %></h3>
