<h1>Order Information</h1>
<p>
  <strong>billing_address_address1:</strong>
  <%= @order.billing_address_address1 %>
</p>
<p>
  <strong>billing_address_address2:</strong>
  <%= @order.billing_address_address2 %>
</p>
<p>
  <strong>billing_address_city:</strong>
  <%= @order.billing_address_city %>
</p>
<p>
  <strong>billing_address_company:</strong>
  <%= @order.billing_address_company %>
</p>
<p>
  <strong>billing_address_country:</strong>
  <%= @order.billing_address_country %>
</p>
<p>
  <strong>billing_address_first_name:</strong>
  <%= @order.billing_address_first_name %>
</p>
<p>
  <strong>billing_address_id:</strong>
  <%= @order.billing_address_id %>
</p>
<p>
  <strong>billing_address_last_name:</strong>
  <%= @order.billing_address_last_name %>
</p>
<p>
  <strong>billing_address_phone:</strong>
  <%= @order.billing_address_phone %>
</p>
<p>
  <strong>billing_address_province:</strong>
  <%= @order.billing_address_province %>
</p>
<p>
  <strong>billing_address_zip:</strong>
  <%= @order.billing_address_zip %>
</p>
<p>
  <strong>billing_address_name:</strong>
  <%= @order.billing_address_name %>
</p>
<p>
  <strong>billing_address_province_code:</strong>
  <%= @order.billing_address_province_code %>
</p>
<p>
  <strong>billing_address_country_code:</strong>
  <%= @order.billing_address_country_code %>
</p>
<p>
  <strong>billing_address_default:</strong>
  <%= @order.billing_address_default %>
</p>
<p>
  <strong>browser_ip:</strong>
  <%= @order.browser_ip %>
</p>
<p>
  <strong>order_number:</strong>
  <%= @order.order_number %>
</p>
<br><br>

<h1>Fulfillments</h1>
<%= render @order.fulfillments %>
<br><br>

<p>
  <%= link_to 'Back to Orders', orders_path%>
</p>
