<p>
  <strong>customer_id:</strong>
  <%= address.customer_id %>
</p>
<p>
  <strong>shopify_id:</strong>
  <%= address.shopify_id %>
</p>
<p>
  <strong>address1:</strong>
  <%= address.address1 %>
</p>
<p>
  <strong>address2:</strong>
  <%= address.address2 %>
</p>
<p>
  <strong>city:</strong>
  <%= address.city %>
</p>
<p>
  <strong>company:</strong>
  <%= address.company %>
</p>
<p>
  <strong>first_name:</strong>
  <%= address.first_name %>
</p>
<p>
  <strong>last_name:</strong>
  <%= address.last_name %>
</p>
<p>
  <strong>phone:</strong>
  <%= address.phone %>
</p>
<p>
  <strong>province:</strong>
  <%= address.province %>
</p>
<p>
  <strong>country:</strong>
  <%= address.country %>
</p>
<p>
  <strong>zip:</strong>
  <%= address.zip %>
</p>
<p>
  <strong>name:</strong>
  <%= address.name %>
</p>
<p>
  <strong>province_code:</strong>
  <%= address.province_code %>
</p>
<p>
  <strong>country_code:</strong>
  <%= address.country_name %>
</p>
<br><br>
