<p>
  <strong>shopify_created_at:</strong>
  <%= fulfillment.created_at %>
</p>
<p>
  <strong>shopify_id:</strong>
  <%= fulfillment.shopify_id %>
</p>
<p>
  <strong>order_id:</strong>
  <%= fulfillment.order_id %>
</p>
<p>
  <strong>status:</strong>
  <%= fulfillment.status %>
</p>
<p>
  <strong>tracking_company:</strong>
  <%= fulfillment.tracking_company %>
</p>
<p>
  <strong>tracking_number:</strong>
  <%= fulfillment.tracking_number %>
</p>
<p>
  <strong>updated_at:</strong>
  <%= fulfillment.updated_at %>
</p>
<br><br>
