<p>
  <strong>fulfillable_quantity:</strong>
  <%= line_item.fulfillable_quantity %>
</p>
<p>
  <strong>fulfillment_service:</strong>
  <%= line_item.fulfillment_service %>
</p>
<p>
  <strong>fulfillment_status:</strong>
  <%= line_item.fulfillment_status %>
</p>
<p>
  <strong>grams:</strong>
  <%= line_item.grams %>
</p>
<p>
  <strong>shopify_id:</strong>
  <%= line_item.shopify_id %>
</p>
<p>
  <strong>price:</strong>
  <%= line_item.price %>
</p>
<p>
  <strong>product_id:</strong>
  <%= line_item.product_id %>
</p>
<p>
  <strong>quantity:</strong>
  <%= line_item.quantity %>
</p>
<p>
  <strong>requires_shipping:</strong>
  <%= line_item.requires_shipping %>
</p>
<p>
  <strong>sku:</strong>
  <%= line_item.sku %>
</p>
<p>
  <strong>title:</strong>
  <%= line_item.title %>
</p>
<p>
  <strong>variant_id:</strong>
  <%= line_item.variant_id %>
</p>
<p>
  <strong>variant_title:</strong>
  <%= line_item.variant_title %>
</p>
<p>
  <strong>vendor:</strong>
  <%= line_item.vendor %>
</p>
<p>
  <strong>name:</strong>
  <%= line_item.name %>
</p>
<p>
  <strong>gift_card:</strong>
  <%= line_item.gift_card %>
</p>
<p>
  <strong>taxable:</strong>
  <%= line_item.taxable %>
</p>
<p>
  <strong>total_discount:</strong>
  <%= line_item.total_discount %>
</p>
<p>
  <strong>order:</strong>
  <%= line_item.order_id %>
</p>
<br><br>
