<p style="font-size: 20px"><%= link_to 'Import Shopify Products', new_product_path %></p>
<br><br><br>
<h1>Products</h1>
<table border="1" style="width:100%">
  <tr>
    <th>shopify_id</th>
    <th>title</th>
    <th>vendor</th>
    <th>handle</th>
    <th>shopify_created_at</th>
  <tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.shopify_id %></td>
      <td><%= product.title %></td>
      <td><%= product.vendor %></td>
      <td><%= product.handle %></td>
      <td><%= product.shopify_created_at %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
      <td><%= link_to 'Delete', product_path(product), method: :delete, data: { confirm:'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<br><br>

<h1>Shopify Products</h1>
<table border="1" style="width:100%">
  <tr>
    <th>id</th>
    <th>title</th>
    <th>vendor</th>
    <th>handle</th>
    <th>created_at</th>
  </tr>

  <% @shopify_products.each do |t| %>
    <tr>
      <td><%= t.id %></td>
      <td><%= t.title %></td>
      <td><%= t.vendor %></td>
      <td><%= t.handle %></td>
      <td><%= t.created_at %></td>
    </tr>

    <% t.variants.each do |product_variant| %>
      <tr>
        <td>id: <%= product_variant.id %></td>
        <td>product_id: <%= product_variant.product_id %></td>
        <td>price: <%= product_variant.price %></td>
        <td>title: <%= product_variant.title %></td>
      </tr>
    <% end %>

  <% end %>

</table>
<h3><%= link_to 'Back Home', controller: 'home' %></h3>
