<h1>New Product</h1>
<%= form_for :product, url: products_path do |f| %>

  <p>
    <%= f.label :shopify_id %><br>
    <%= f.text_field :shopify_id %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
